mixin social(mode)

	if mode == 'edit'
		ul.social
			li.social__item
				.drop.drop--hover.drop--def
					.drop__trigger
						a.social__btn(href="#404"  title="Вконтакте")
							svg.social__icon
								use(xlink:href='/img/sprite.svg#soc_vk')
					.drop__main.drop__main--md
						.form
							.form__row
								input.field.field--bordered.width--full.input__vk(
									type="text"
									placeholder="text"
								)
							.form__row
								a.btn.btn--clear.btn__vk.social--save(href="#404")
									.btn__text Сохранить
								a.btn.btn--text.social--reset(href="#404")
									.btn__text Отменить

			li.social__item
				.drop.drop--hover.drop--def
					.drop__trigger
						a.social__btn.btn__facebook(href="#404"  title="Facebook")
							svg.social__icon
								use(xlink:href='/img/sprite.svg#soc_fb')
					.drop__main.drop__main--md
						.form
							.form__row
								input.field.field--bordered.width--full.input__facebook(
									type="text"
									placeholder="text"
								)
							.form__row
								a.btn.btn--clear.social--save(href="#404")
									.btn__text Сохранить
								a.btn.btn--text.social--reset(href="#404")
									.btn__text Отменить

			li.social__item
				.drop.drop--hover.drop--def
					.drop__trigger
						a.social__btn.btn__twitter(href="#404"  title="Twitter")
							svg.social__icon
								use(xlink:href='/img/sprite.svg#soc_tw')
					.drop__main.drop__main--md
						.form
							.form__row
								input.field.field--bordered.width--full.input__twitter(
									type="text"
									placeholder="text"
								)
							.form__row
								a.btn.btn--clear.social--save(href="#404")
									.btn__text Сохранить
								a.btn.btn--text.social--reset(href="#404")
									.btn__text Отменить

			li.social__item
				.drop.drop--hover.drop--def
					.drop__trigger
						a.social__btn(href="#404"  title="Google+")
							svg.social__icon
								use(xlink:href='/img/sprite.svg#soc_g+')
					.drop__main.drop__main--md
						.form
							.form__row
								input.field.field--bordered.width--full.input__google-plus(
									type="text"
									placeholder="text"
								)
							.form__row
								a.btn.btn--clear.btn____google-plus.social--save(href="#404")
									.btn__text Сохранить
								a.btn.btn--text.social--reset(href="#404")
									.btn__text Отменить

			li.social__item
				.drop.drop--hover.drop--def
					.drop__trigger
						a.social__btn(href="#404"  title="Email")
							svg.social__icon
								use(xlink:href='/img/sprite.svg#soc_email')
					.drop__main.drop__main--md
						.form
							.form__row
								input.field.field--bordered.width--full.input__email(
									type="email"
									placeholder="email"
								)
							.form__row
								a.btn.btn--clear.btn__email.social--save(href="#404")
									.btn__text Сохранить
								a.btn.btn--text.social--reset(href="#404")
									.btn__text Отменить



	else
		ul.social
			li.social__item
				a.social__btn(href="#404"  title="Вконтакте")
					svg.social__icon
						use(xlink:href='/img/sprite.svg#soc_vk')

			li.social__item
				a.social__btn(href="#404"  title="Facebook")
					svg.social__icon
						use(xlink:href='/img/sprite.svg#soc_fb')

			li.social__item
				a.social__btn(href="#404"  title="Twitter")
					svg.social__icon
						use(xlink:href='/img/sprite.svg#soc_tw')

			li.social__item
				a.social__btn(href="#404"  title="Google+")
					svg.social__icon
						use(xlink:href='/img/sprite.svg#soc_g+')

			li.social__item
				a.social__btn(href="#404"  title="Email")
					svg.social__icon
						use(xlink:href='/img/sprite.svg#soc_email')