extends ../layout

block content
	-var user = 'Александра Соколова';
	-var avatar = "user_avatar";
	-var BG = "user_header";
	div.page-container
		div.page-content
			.header.header-main(style="background-image: url(../img/user/"+BG+".png), url(../img/album/no_photo.jpg)")
				.heder_main-content
					.header__section.section.header__section_main.header__section_main-front
						.header__part
							.user-block
								.user-block__photo(style="background-image: url(../img/user/"+avatar+".png), url(../img/album/no_photo.jpg)")
								.user-block__main
									.user-block__name Александра Соколова
									.user-block__desc.
										Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
									.user-block__social
										+social()
						.header__part.header__part--zip
							.header__controls
								.header__control
									.btn.btn--light.btn--expand.btn_edit-header
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#edit')
										span.btn__text Редактировать
								.header__control
									.btn.btn--light.btn--expand.logout
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#off')
										span.btn__text Выйти
					.header__section.section.header__section_main.header__section_main-back
						.header__part
							.user-block.user-block--edit
								.user-block__photo
									.upload.user-block__photo-edit(title="Выбрать изображение")
										svg.upload__icon
											use(xlink:href='/img/sprite.svg#cam')
										.upload__text Изменить фото
										input.upload__input(type="file"  name="photo")

								.user-block__main
									.form__row
										input.field.width--lg(
											type="text"
											name="name"
											value="Александра Соколова"
										)
									.form__row
										textarea.field.width--lg(name="desc").
											Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
									.form__row
										+social('edit')

						.header__part.header__part--zip.header__part--zip_main
							.upload(title="Выбрать изображение")
								svg.upload__icon
									use(xlink:href='/img/sprite.svg#cam')
								.upload__text Изменить фон
								input.upload__input(type="file"  name="bg")

				.heder_main-bottom
					.header__section.header__bottom.section.header-edit-bottom
						.header__part.header__right
							a.btn.btn--text#cancel_edit_header(href="#cancel")
								span.btn__text Отменить
							a.btn.btn--save(href="#ok") Сохранить
					.header__section.header__bottom.header-bottom-front.header__bottom_main.section
						.header__part.header__right
							form.search
								input.field.search__field(
									type="text"
									name="text"
									placeholder="Найти..."
								)
								button.search__btn
									svg.input-complex__icon
										use(xlink:href='/img/sprite.svg#search')
			include ../commons/_main-content
	include ../commons/footer
	include ../commons/add-album


