div.modal-overlay.hide
    div.modal.modal__add-album.hide
        .wrapper__modal
            div.modal__header.add-albums__header
                div.modal__header-title Добавить альбом
                div.modal__header-close
                    svg.modal__header-svg
                        use(xlink:href='/img/sprite.svg#close')
            .wrapper-inputs
                .wrapper-input__name
                    label.add-album__name(for='add-album-name') Название
                    input.field.add-album__name-input(
                    type="text"
                    placeholder=""
                    id='add-album-name'
                    )
                .wrapper-input__description
                    label.add-album__description(for='add-album-description') Описание
                    textarea.field.add-album__textarea(
                    placeholder=""
                    id='add-album-description'
                    )
                .wrapper-input__upload
                    .user-block.user-block--sm.user-block__upload
                        .user-block__photo
                            include preloader-circle
                    label.btn.btn--clear.label__upload(for='upload-album') Выбрать файл
                    input.btn__upload-album(type='file' id='upload-album' name='addAlbumCover'  multiple  accept='image/*,image/jpeg')
                    span.wrapper-input__text (файл должен быть размером не более 1024 КБ)
                .wrapper__error.hide
                    div.popup__error  Сюда вывести ошибку
        div.modal__footer.add-album__footer
            div.modal__buttons.add-album__buttons
                a.btn.add-album__btn-save(href='#')
                    span.btn__text Сохранить
                a.btn.btn--text.add-album__btn-cancel.modal__cancelButton(href="#cancel")
                    span.btn__text Отменить
        .preload__container
            .preload__loading
                each i in Array(4)
                    i

    // Для редкатирования альбома
    div.modal.modal_edit-album.hide
        div.modal-content
            div.modal__header
                div.modal__header-title Отредактировать альбом
                div.modal__header-close
                    svg.modal__header-svg
                        use(xlink:href='/img/sprite.svg#close') 
            div.modal__form-container
                form.modal__form-edit(action="")
                    div.modal__form-row
                        label.modal__form-label(for="titleIm") Название
                        input.modal__form-input.field(
                        type="text",
                        name="titleIm",
                        value="Домик в лесу"
                    )
                    div.modal__form-row
                        label.modal__form-label(for="descrIm") Описание
                        textarea.modal__form-input.field(name="descrIm").
                            Описание
                    div.modal__form-row
                        div.popup__error.hide
        div.modal__footer
            div.modal-pane
                .modal-pane__part
                    input(type="submit" value = "Сохранить").btn.submit-edit
                    a.btn.btn--text.modal__cancelButton(href="#cancel")
                        span.btn__text Отменить
                .modal-pane__part
                    a.btn.btn--important
                        svg.btn__icon
                            use(xlink:href='/img/sprite.svg#delete')
                        span.btn__text Удалить


    // Для оповещений
    .modal.modal_notification.hide
        div.modal-content
            div.modal-notification-text Все файлы будут загружены. Можно закрыть окно.
        div.modal__footer
            div.modal__buttons
                a.btn.btn--clear.modal__cancelButton(href="#cancel")
                    span.btn__text Закрыть