extends ../layout

block content

	//- include ../commons/header
	include ../commons/_header
	include ../commons/header--edit


	.ui-components

		//- User block
		.ui-section
			.ui-title Карточка пользователя

			.user-block
				.user-block__photo

				.user-block__main
					.user-block__name Александра Соколова
					.user-block__desc.
						Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
					.user-block__social
						+social

			br
			br

			.user-block.user-block--sm
				.user-block__photo

				.user-block__main
					.user-block__name Александра Соколова





		//- Icons
		.ui-section
			.ui-title Иконки

		//
			svg.icon
				use(xlink:href='/img/sprite.svg#add')

			svg.icon
				use(xlink:href='/img/sprite.svg#album')

			svg.icon
				use(xlink:href='/img/sprite.svg#arrow_left')

			svg.icon
				use(xlink:href='/img/sprite.svg#arrow_right')

			svg.icon
				use(xlink:href='/img/sprite.svg#cam')

			svg.icon
				use(xlink:href='/img/sprite.svg#close')

			svg.icon
				use(xlink:href='/img/sprite.svg#comments')

			svg.icon
				use(xlink:href='/img/sprite.svg#delete')

			svg.icon
				use(xlink:href='/img/sprite.svg#edit')

			svg.icon
				use(xlink:href='/img/sprite.svg#envelope')

			svg.icon
				use(xlink:href='/img/sprite.svg#heart')

			svg.icon
				use(xlink:href='/img/sprite.svg#home')

			svg.icon
				use(xlink:href='/img/sprite.svg#like')

			svg.icon
				use(xlink:href='/img/sprite.svg#loupe')

			svg.icon
				use(xlink:href='/img/sprite.svg#more')

			svg.icon
				use(xlink:href='/img/sprite.svg#name')

			svg.icon
				use(xlink:href='/img/sprite.svg#no_like')

			svg.icon
				use(xlink:href='/img/sprite.svg#off')

			svg.icon
				use(xlink:href='/img/sprite.svg#password')

			svg.icon
				use(xlink:href='/img/sprite.svg#search')

			svg.icon
				use(xlink:href='/img/sprite.svg#top')



		.ui-section
			.ui-title Поля формы

			input.field(
				type="text"
				placeholder="placeholder"
			)

			br
			br

			.input-complex.input-complex--search.width--md
				input.field.input-complex__field(
					type="text"
					name="text"
					placeholder="Placeholder"
				)
				.input-complex__side
					svg.input-complex__icon
						use(xlink:href='/img/sprite.svg#envelope')

			br

			form.search
				input.field.search__field(
					type="text"
					name="text"
					placeholder="Найти..."
				)
				button.search__btn
					svg.input-complex__icon
						use(xlink:href='/img/sprite.svg#search')

			br

			textarea.field(
				placeholder="textarea"
			)





		.ui-section
			.ui-title Социальный кнопки

			+social
			span < has drop





		.ui-section
			.ui-title Кнопки

			.btn btn
			.btn.btn--clear btn--clear
			.btn.btn--important btn--important
			.btn.btn--light btn--light

			.btn.btn--important
				span.btn__text text
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#envelope')

			.btn.btn--text
				span.btn__text btn--text

			.btn.btn--light
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#envelope')
				span.btn__text btn--light

			br

			.btn.btn--text
				span.btn__text btn--text

			.btn.btn--text-important
				span.btn__text btn--text-important

			br

			.btn.btn--icon(title="Редактировать")
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#edit')

			.btn.btn--light.btn--expand
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#edit')
				span.btn__text btn--expand

			.btn.btn--light.btn--expand
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#off')
				span.btn__text Выйти





		.ui-section
			.ui-title Сетка с карточками

			.grid.grid--md
				.grid__item
					.album-card
						a.album-card__head(href="#404")
							.album-card__info
								.album-card__title Фотографии природы леса, енотов и оленей...
								.album-card__cnt 18 фотографий

						.album-card__foot
							.album-card__foot-part
								a.btn.btn--icon(href="#404"  title="Редактировать")
									svg.btn__icon
										use(xlink:href='/img/sprite.svg#edit')

							.album-card__foot-part
								a.album-card__link(href="#404") Название альбома


				each i in Array(3)
					.grid__item
						.album-card
							a.album-card__head(href="#404")
								.album-card__info
									.album-card__title Описание альбома ...
									.album-card__cnt Количество фотографий

							.album-card__foot
								.album-card__foot-part
									a.btn.btn--icon(href="#404"  title="Редактировать")
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#edit')

								.album-card__foot-part
									a.album-card__link(href="#404") Название альбома



			.grid.grid--lg
				each i in Array(2)
					.grid__item
						.photo-card
							a.photo-card__head(href="#404")
								.photo-card__details
									.info.info--light
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#comments')
											span.info__text 2
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#like')
											span.info__text 10

							.photo-card__foot
								.photo-card__foot-part
									a.btn.btn--icon(href="#404"  title="Редактировать")
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#edit')
								.photo-card__foot-part
									.photo-card__link(href="#404") Название фотографии




				.grid__item
					.photo-card
						a.photo-card__head(href="#404")

						.photo-card__body
							.photo-details
								.photo-details__side
									a.photo-details__ava(href="#user")

								.photo-details__main
									.photo-details__title Название фотографии
									.photo-details__info.info
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#comments')
											span.info__text 2
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#like')
											span.info__text 10

						.photo-card__foot
							.photo-card__foot-part

							.photo-card__foot-part
								a.link.photo-card__link-album(href="#404")
									svg.link__icon
											use(xlink:href='/img/sprite.svg#album')
									.link__text Название альбома





	include ../commons/footer